.footer{

    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
    grid-area: footer;
    

    .logo-footer{

        height: 80%;
        width: 4rem;

    }

}


